@{
    ViewData["Title"] = "Home Page";
}

<div aria-label="Apinyckel inmatning">
    <label>Apinyckel</label>
    <input type="text" id="js-apikey" value="53b0ae237ef3db33940b83560728cae4"/>
    <input type="button" value="Sätt api" id="js-set-api"/>
</div>
<input type="hidden" id="js-api-set" value=false />
<div>
    <input type="button" value="Ladda filmer" id="js-load-movie" />
</div>

